.adjustable-search-bar {
    position: absolute;
    top: 15%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    
  }
  
  
  .max-w-sm {
    max-width: 20rem; /* Adjust as needed */
    position: absolute;
    bottom: 70%; /* Adjust the percentage as needed */
    left: 5%;
    transform: translateX(-50%);
  }
  
  .mx-auto {
    margin: 0 auto;
  }
  
  .dialect {
    max-width: 20rem; /* Adjust as needed */
    position: absolute;
    bottom: 55%; /* Adjust the percentage as needed */
    left: 6%;
    transform: translateX(-50%);
  }

  .sdg {
    max-width: 20rem; /* Adjust as needed */
    position: absolute;
    bottom: 39%; /* Adjust the percentage as needed */
    left: 11%;
    transform: translateX(-50%);
  }
  